<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is a very important file for the App. Don't edit this causally!</comment>
<entry key="APPEND_TO_SESSION_ID">.localhost</entry>
<entry key="PRECEDE_TO_SESSION_ID">JSESSIONID=</entry>
<entry key="SERVER_URL">http://10.21.67.116:8080</entry>
</properties>
