<?xml version="1.0" encoding="UTF-8"?>
<properties>
	<comment>This is a very important file for the App. Don't edit this
		causally!</comment>
	<APPEND_TO_SESSION_ID>.localhost</APPEND_TO_SESSION_ID>
	<PRECEDE_TO_SESSION_ID>JSESSIONID=</PRECEDE_TO_SESSION_ID>
	<SERVER_URL>http://10.21.67.116:8080</SERVER_URL>
</properties>
